/* vaartwest.scss */

#header {
  min-height: 600px;
  color: #fff;
  background: #cecece url(../img/cargo-ship.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  text-align: center;
}
